.contact
  background-color: $white
  border-radius: 10px
  display flex
  flex-direction: row
  justify-content: space-between
  padding: s(40)
  margin-bottom s(50,16)
  &__bloc
    width: 45%
  &__required
    color: $mediumRed
    font-size: s(14,16)
    font-weight 500
    display: block
    margin-bottom s(30,14)
  &__champ
    display flex
    flex-direction: column
    margin-bottom: s(30,16)
    & br
      display none
  &__input
    background-color: $lightGrey
    margin-top: s(10,16)
    padding: s(10,16)
    border-radius: 5px
    border: 1px solid transparent
    transition: .3s ease-in-out
    width: 100%
    &:hover
    &:focus
      border 1px solid $mediumRed
      transition: .3s ease-in-out
  &__label
    color: $darkGrey
    font-size: s(16,16)
    font-weight 600
    
.textarea
  resize: none

@media screen and ( max-width:768px)
  .contact
    flex-direction: column
    &__bloc
      width 100%

@media screen and ( max-width:450px)
  .contact
    padding: s(30)