.home
  &__programmes
    background url('../images/backgroundHomeProgrammes.png') no-repeat top center/cover
    background-position: 50% 80%
    position: relative
    padding: s(50,16) s(20,16)
    &:before
      content: ''
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      width: 100%
      height: 100%
      background-color: rgba(133,28,71,0.9)
      z-index: 10
  &__programmes-single
    display: flex
    flex-direction: row
    justify-content: center
    margin-bottom: s(65,16)
  &__programmes-bloc
    position: relative
    z-index: 20
  &__programmes-left
    position: relative
    margin-right: s(100,16)
  &__programmes-taxonomy
    position: absolute
    left: s(-30,16)
    top: s(-15,16)
    color: $mediumRed
    background-color: $darkYellow
    font-size: s(16,16)
    font-weight 400
    padding: s(10,16) s(40,16)
  &__programmes-infos
    color $white
  &__programmes-title
    font-family: 'firasans'
    font-size: s(50,16)
  &__programmes-lieu
    display block


    


  
