.home
  &__artistes
    padding: s(100,16) 0
  &__artistes-title
    font-size: s(50,16)
    font-family: 'firasans'
    font-weight: 800
    color: $darkGrey
    text-align: center
    margin-bottom: s(50,50)
  &__artistes-bloc
    display: flex
    flex-direction: row
    margin-bottom: s(50,16)
  &__artiste-img
    position: relative
  &__artistes-button
    background-color: $darkYellow
    color: $mediumRed
    font-size: s(20,16)
    font-weight: 600
    padding: s(20,20) s(40,20)
    text-transform: uppercase
    border-radius: s(10,20)
    display: flex
    flex-direction: row
    justify-content: center
    max-width: 35%
    margin: 0 auto
  &__single-artiste + &__single-artiste
    margin-left: s(50,16)
  &__single-artiste
    position: relative
  &__artistes-link
    position: absolute
    right: 0
    left: 0
    bottom: 0
    top: 0
    width: 100%
    height: 100%
    display: block
    & span
      hidden()
  &__single-name
    font-family: 'opensans'
    font-size: s(25,16)
    background-color: $white
    padding: s(30,25) s(20,25) s(20,25)
    font-weight: 600
    text-align: center
    color: $darkGrey
    &:after
      content: ''
      display: block
      width: s(100,25)
      height: s(3,25)
      margin: s(20,25) auto
      background-color: $darkGrey
  &__artistes-opacity
    position: absolute
    top: 0
    width: 100%
    height: 100%
    transition: 0.3s ease-in-out
    padding: s(20,16)
  &__artiste-hover
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    width: 100%
    height: s(50,20)
    margin: 0 auto
    color: $white
    font-size: s(20,16)
    font-weight 600
    text-transform uppercase
    background-color rgba(133,28,71,0.8)
    border-radius s(10,20)
    position: relative
    top: 50%
    opacity: 0
    transition: 0.3s ease-in-out
    
    

.home__single-artiste:hover .home__artistes-opacity
  background-color: rgba(67, 67, 67, 0.5)
  transition: 0.3s ease-in-out
.home__single-artiste:hover .home__artiste-hover
  opacity: 1
  transition: 0.3s ease-in-out



