.home
  &__programmes
    background url('../images/backgroundHomeProgrammes.png') no-repeat top center/cover
    background-position: 50% 80%
    position: relative
    padding: s(50,16) s(20,16)
    &:before
      content: ''
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      width: 100%
      height: 100%
      background-color: rgba(133,28,71,0.9)
      z-index: 10
  &__programmes-bloc
    position: relative
    z-index: 20


    


  
