.home
  &__artistes
    padding: s(100,16) s(20,16)
  &__artistes-bloc
    display: flex
    flex-direction: row
    justify-content: space-evenly
    margin-bottom: s(50,16)
  &__artistes-bloc-page
    display: flex
    flex-direction: row
    justify-content: space-between
    margin-bottom: s(50,16)
    flex-wrap: wrap
  &__artiste-img
    position: relative
  &__single-img
    max-width 100%
  &__artistes-button
    background-color: $darkYellow
    color: $mediumRed
    font-size: s(20,16)
    font-weight: 600
    padding: s(20,20) s(40,20)
    text-transform: uppercase
    border-radius: s(10,20)
    display: flex
    flex-direction: row
    justify-content: center
    max-width: 35%
    margin: 0 auto
    position: relative
    transition: 0.3s all ease-in-out
    overflow: hidden
    & > span
      position: relative
      z-index: 10
    &:before
      content: ''
      position: absolute
      top: 0
      right: 0
      left: 0
      bottom: 0
      height: 110%
      width: 150%
      transition: 0.5s all ease-in-out
      background-color: $mediumRed
      transform translateX(-110%) skewX(-45deg)
      z-index: 5
  &__single-artiste
    position: relative
  &__artistes-link
    position: absolute
    right: 0
    left: 0
    bottom: 0
    top: 0
    width: 100%
    height: 100%
    display: block
    & span
      hidden()
  &__single-name
    font-family: 'opensans'
    font-size: s(22,16)
    font-weight: 600
    color: $darkGrey
    &:after
      content: ''
      display: block
      width: s(100,22)
      height: s(3,22)
      margin: s(20,22) auto
      background-color: $darkGrey
  &__artistes-titleBloc
    background-color: $white
    padding: s(20,22) s(10,22)
    text-align: center
  &__artist-taxonomy
    color: $mediumRed
    font-weight 500
  &__artistes-opacity
    position: absolute
    top: 0
    width: 100%
    height: 100%
    transition: 0.3s ease-in-out
    padding: s(20,16)
  &__artiste-hover
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    width: 100%
    height: s(50,20)
    margin: 0 auto
    color: $white
    font-size: s(20,16)
    font-weight 600
    text-transform uppercase
    background-color rgba(133,28,71,0.8)
    border-radius s(10,20)
    position: relative
    top: 50%
    opacity: 0
    transition: 0.3s ease-in-out 
  
.home__single-artiste:hover .home__artistes-opacity
  background-color: rgba(67, 67, 67, 0.5)
  transition: 0.3s ease-in-out
.home__single-artiste:hover .home__artiste-hover
  opacity: 1
  transition: 0.3s ease-in-out
.home__artistes-button:hover:before
  transform translateX(-10%)
  transition: 0.3s all ease-in-out
.home__artistes-button:hover .span
  color: $white
  transition: 0.3s all ease-in-out

.artistes-margin
  margin-bottom s(50)


@media screen and ( max-width: 1024px)
  .home
    &__artistes-button
      font-size: s(16,16)
      max-width 40%

@media screen and ( max-width: 950px)
  .home
    &__single-name
      font-size: s(18,16)
    &__artist-taxonomy
      font-size: s(14,16)

@media screen and ( max-width: 850px)
  .home
    &__artistes-button
      font-size: s(14,16)

@media screen and ( max-width: 800px)
  .home
    &__artistes-bloc
    &__artistes-bloc-page
      display: flex
      flex-direction: column
      justify-content: center
      align-items: center
    &__single-artiste + &__single-artiste
      margin s(50,16) 0 0
    &__artistes-button
      max-width 50%

@media screen and ( max-width: 600px)
  .home
    &__artistes-button
      max-width 60%

@media screen and ( max-width: 500px)
  .home
    &__artistes-button
      max-width 70%

@media screen and ( max-width: 375px)
  .home
    &__artistes-button
      max-width 100%

    



