.header
    background url('../images/backgroundHeader.jpg') no-repeat top center/cover
    background-position: 50% 80%
    position: relative
    min-height: 45.8em
    &:before
      content: ''
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      width: 100%
      height: 100%
      background-color: rgba(133,28,71,0.7)
      z-index: 10
    
.header-home
  position: relative
  z-index: 15
  padding-top: s(250,16)
  color: $white
  display: flex
  flex-direction: column
  &__title
    font-size: s(60,16)
    letter-spacing: 0.2em
    font-family: 'whoopass'
    margin-bottom: s(50,60)
  &__text
    display: block
    font-family: 'firasans'
    font-size: s(24,16)
    max-width: 80%
    line-height: 1.5em
    font-weight: 300
    margin-bottom: s(50,24)
  &__date
    color: $darkYellow
    font-size: s(30,16)
    font-weight: 700
    font-family: 'firasans'
    margin-bottom: s(50,30)
  &__link
    font-size: s(18,16)
    text-transform: uppercase
    font-weight: 700
    background-color: rgba(255, 255, 255, 0.1)
    border: s(2,18) solid $white
    border-radius: s(10,18)
    padding: s(15,18) s(40,18)
    max-width: s(234,18)
    position: relative
    transition: 0.3s all ease-in-out
    overflow: hidden
    & > span
      position: relative
      z-index: 20
    &:before
      content: ''
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      height: 100%
      width: 150%
      transition: 0.5s all ease-in-out
      background-color: $white
      transform translateX(-110%) skewX(-45deg)
      z-index: 5

.header-home__link:hover:before
  transform translateX(-10%)
  transition: 0.3s all ease-in-out
.header-home__link:hover .home-span
  color: $mediumRed
  transition: 0.3s all ease-in-out

@media screen and ( max-width: 1300px)
  .header-home
    padding: s(250,16) s(20,16) 0 s(20,16)

@media screen and ( max-width: 1024px)
  .header-home
    &__title
      font-size: s(50,16)
    &__text
      font-size: s(20,16)
      line-height: 1.4em
    &__date
      font-size: s(25,16)

@media screen and ( max-width: 750px)
  .header-home
    &__title
      font-size: s(40,16)
      letter-spacing: 0.1em
      margin-bottom: s(30,40)
    &__text
      font-size: s(20,16)
      max-width: 100%
      margin-bottom: s(30,20)
    &__link
      font-size: s(16,16)
      padding: s(15,16) s(40,16)
      max-width: s(212,16)

@media screen and ( max-width: 550px)
  .header-home
    &__title
      font-size: s(30,16)
    &__text
      font-size: s(18,16)
    &__date
      font-size: s(20,16)
