html
{
    box-sizing: border-box;
}
*,
*:before,
*:after
{
    box-sizing: inherit;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video
{
    font: inherit;
    font-size: 100%;

    margin: 0;
    padding: 0;

    vertical-align: baseline;

    border: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section
{
    display: block;
}
body
{
    line-height: 1;
}
ol,
ul
{
    list-style: none;
}
blockquote,
q
{
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after
{
    content: '';
    content: none;
}
table
{
    border-spacing: 0;
    border-collapse: collapse;
}
html
{
    overflow-x: hidden;
}
html *
{
    font-family: 'opensans';

    box-sizing: border-box;
    /*background-image url("../images/grid.png")
  background-repeat repeat-y
  background-position center center
  background-size 1140px
  opacity 0.90*/
}
a
{
    text-decoration: none;

    color: inherit;
}
form input
{
    border: 0;
    outline: none;

    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}
img
{
    max-width: 100%;
    height: auto;
}
.hidden
{
    position: absolute;
    top: -99999px;
    left: -99999px;
}
@font-face
{
    font-family: 'whoopass';
    font-weight: 800;
    font-style: normal;

    src: url('../fonts/whoopass/whoopass-webfont.woff2') format('woff2'), url('../fonts/whoopass/whoopass-webfont.woff') format('woff');
}
@font-face
{
    font-family: 'firasans';
    font-weight: 400;
    font-style: normal;

    src: url('../fonts/firasans/firasans-regular-webfont.woff2') format('woff2'), url('../fonts/firasans/firasans-regular-webfont.woff') format('woff');
}
@font-face
{
    font-family: 'firasans';
    font-weight: 500;
    font-style: normal;

    src: url('../fonts/firasans/firasans-semibold-webfont.woff2') format('woff2'), url('../fonts/firasans/firasans-semibold-webfont.woff') format('woff');
}
@font-face
{
    font-family: 'firasans';
    font-weight: 700;
    font-style: normal;

    src: url('../fonts/firasans/firasans-bold-webfont.woff2') format('woff2'), url('../fonts/firasans/firasans-bold-webfont.woff') format('woff');
}
@font-face
{
    font-family: 'firasans';
    font-weight: 800;
    font-style: normal;

    src: url('../fonts/firasans/firasans-extrabold-webfont.woff2') format('woff2'), url('../fonts/firasans/firasans-extrabold-webfont.woff') format('woff');
}
@font-face
{
    font-family: 'opensans';
    font-weight: 300;
    font-style: normal;

    src: url('../fonts/opensans/opensans-light-webfont.woff2') format('woff2'), url('../fonts/opensans/opensans-light-webfont.woff') format('woff');
}
@font-face
{
    font-family: 'opensans';
    font-weight: 400;
    font-style: normal;

    src: url('../fonts/opensans/opensans-regular-webfont.woff2') format('woff2'), url('../fonts/opensans/opensans-regular-webfont.woff') format('woff');
}
@font-face
{
    font-family: 'opensans';
    font-weight: 500;
    font-style: normal;

    src: url('../fonts/opensans/opensans-semibold-webfont.woff2') format('woff2'), url('../fonts/opensans/opensans-semibold-webfont.woff') format('woff');
}
@font-face
{
    font-family: 'opensans';
    font-weight: 700;
    font-style: normal;

    src: url('../fonts/opensans/opensans-bold-webfont.woff2') format('woff2'), url('../fonts/opensans/opensans-bold-webfont.woff') format('woff');
}
@font-face
{
    font-family: 'opensans';
    font-weight: 800;
    font-style: normal;

    src: url('../fonts/opensans/opensans-extrabold-webfont.woff2') format('woff2'), url('../fonts/opensans/opensans-extrabold-webfont.woff') format('woff');
}
.header
{
    position: relative;

    min-height: 45.8em;

    background: url('../images/backgroundHeader.jpg') no-repeat top center/cover;
    background-position: 50% 80%;
}
.header:before
{
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100%;

    content: '';

    background-color: rgba(133,28,71,.7);
}
.header-home
{
    position: relative;
    z-index: 15;

    padding-top: 15.625em;

    color: #fff;
}
.header-home__title
{
    font-family: 'whoopass';
    font-size: 3.75em;

    margin-bottom: .833333333333333em;

    letter-spacing: .2em;
}
.header-home__text
{
    font-family: 'firasans';
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.5em;

    display: block;

    max-width: 80%;
    margin-bottom: 2.083333333333333em;
}
.header-home__date
{
    font-family: 'firasans';
    font-size: 1.875em;
    font-weight: 700;

    color: #ffc652;
}
.header-home__link
{
    font-size: 1.125em;
    font-weight: 700;

    position: relative;
    top: 100px;
    left: -385px;

    padding: 1.111111111111111em 2.777777777777778em;

    text-transform: uppercase;

    border: .111111111111111em solid #fff;
    border-radius: .555555555555556em;
    background-color: rgba(255,255,255,.1);
}
.nav
{
    font-size: 1em;
    font-weight: 500;

    position: absolute;
    z-index: 20;
    top: 3.125em;
    right: 0;
    left: 0;

    max-width: 77.5em;
    margin: 0 auto;

    text-align: right;

    color: #fff;
}
.nav__logo
{
    position: absolute;
    top: -1.25em;
    left: 0;

    max-width: 3.75em;
    height: auto;
}
.nav__item
{
    display: inline-block;
}
.nav__item + .nav__item
{
    margin-left: 2.5em;
}
.wrap
{
    max-width: 77.5em;
    margin: 0 auto;
}
