.agenda
  &__page
    padding: s(50) 0
  &__title-date
    background-color: $mediumRed
    font-family: 'firasans'
    text-align: center
    font-size: s(25,16)
    padding: s(40,25) 0
    font-weight: 600
    color: $white
  &__bloc-infos
    background-color: $white
    display: flex
    flex-direction: row
    justify-content: center
    padding: s(30,16) s(50,16)
    border: 1px solid $darkGrey
    min-height: 130px
    &:nth-child(odd)
      background-color: $lightGreyTwo
  &__time
    width: 50%
    font-size: s(20,16)
    font-weight 600
    color: $darkGrey
  &__location
    width: 50%
  &__location-title
    color: $mediumRed
    font-size: s(20,16)
    font-weight 600
    text-transform: uppercase
    margin-bottom: s(10,20)
    font-family 'firasans'
    position relative
    padding-left: s(20,20)
  &__location-sign
    color: $mediumRed
    font-size: s(16,16)
    font-weight 400
    font-style: italic
    display: block
    position relative
    padding-left: s(20,16)
    &:before
      icon('iconLocationSign')
      position absolute
      left 0
  &__news
    background-color: $darkRed
    padding s(50) s(20)
    text-align: center
    margin-bottom s(100)
  &__news-title
    color $white
    font-family: 'firasans'
    font-size: s(20)
    font-weight: 600
    margin-bottom: s(20,20)

.location-hidden
    &__location-sign
      &:before
        display: none
@media screen and (max-width 1300px)
  .agenda
    &__page
      padding: s(50) s(20,16)

@media screen and (max-width 650px)
  .agenda
    &__location-title
      font-size: s(18,16)
    &__bloc-infos
      padding: s(30,16)
    &__time
      font-size s(16,16)
    &__location
      width: 75%
    &__news-title
      font-size: s(18,16)

@media screen and (max-width 375px)
  .agenda
    &__bloc-infos
      flex-direction: column
      justify-content: center
      align-items: center
      padding: 0
      text-align center
    &__location-sign
      padding-left: s(10,16)