.button
  background-color: $darkYellow
  color: $mediumRed
  font-size: s(20,16)
  font-weight: 600
  padding: s(20,20) s(40,20)
  text-transform: uppercase
  border-radius: s(10,20)
  display: flex
  flex-direction: row
  justify-content: center
  max-width: 35%
  margin: 0 auto
  position: relative
  transition: 0.3s all ease-in-out
  overflow: hidden
  & > span
      position: relative
      z-index: 10
  &:before
    content: ''
    position: absolute
    top: 0
    right: 0
    left: 0
    bottom: 0
    height: 110%
    width: 150%
    transition: 0.5s all ease-in-out
    background-color: $mediumRed
    transform translateX(-110%) skewX(-45deg)

.button-contact
  font-size: s(14,16)
  font-weight: 600
  padding: s(15,14) s(50,14)
  text-transform: uppercase
  border-radius: s(10,14)
  cursor: pointer
  margin: 0
  max-width none
  border none

.button-article
  font-size: s(14,16)
  max-width 60%
  position absolute
  bottom s(20,14)
  left 0
  right 0

.button-register
  background-color: rgba(255, 255, 255, 0.1)
  font-size: s(14,16)
  font-weight: 600
  padding: s(10,14) s(30,14)
  text-transform: uppercase
  border-radius: s(10,14)
  cursor: pointer
  margin: 0
  max-width none
  border: s(2,18) solid $white
  color: $white
  &:before
    background-color: $white

.button:hover:before
  transform translateX(-10%)
  transition: 0.3s all ease-in-out
.button:hover .span
  color: $white
  transition: 0.3s all ease-in-out

.button-register:hover .span
  color: $mediumRed

@media screen and ( max-width: 1024px)
  .button
    font-size: s(16,16)
    max-width 40%

@media screen and ( max-width: 850px)
  .button
    font-size: s(14,16)

@media screen and ( max-width: 800px)
  .button
    max-width 50%
  .button-contact
    margin: 0 auto

@media screen and ( max-width: 600px)
  .button
    max-width 60%

@media screen and ( max-width: 500px)
  .button
    max-width 70%

@media screen and ( max-width: 375px)
  .button
    max-width 100%
