.nav
  font-size: s(16,16)
  font-weight: 500
  position: absolute
  top: s(50,16)
  max-width: s(1240,16)
  margin: 0 auto
  right: 0
  left: 0
  z-index: 20
  color: $white
  text-align: right
  &__item
    display: inline-block
  &__item + &__item
    margin-left: s(40,16)
