.title
  font-size: s(50,16)
  font-family: 'firasans'
  font-weight: 800
  color: $darkGrey
  text-align: center
  margin : s(50,50) 0
.title-red
  position: relative
  z-index: 20
  &:before
  &:after
    content: ''
    display: block
    width: s(150,50)
    height: s(3,50)
    margin: 0 auto
    background-color: $darkRed
  &:before
    margin-bottom: s(15,50)
  &:after
    margin-top: s(15,50)
.title-white
  color: $white
  text-align: center
  position: relative
  z-index: 20
  &:before
  &:after
    content: ''
    display: block
    width: s(150,50)
    height: s(3,50)
    margin: 0 auto
    background-color: $white
  &:before
    margin-bottom: s(15,50)
  &:after
    margin-top: s(15,50)

.left
  text-align: left
  &:before
  &:after 
    margin 0
  &:before
    margin-bottom: s(15,50)
  &:after
    margin-top: s(15,50)


.font-size
  font-size: s(25)

@media screen and (max-width 800px)
  .title
    font-size: s(40,16)

@media screen and (max-width 500px)
  .title
    font-size: s(30,16)
