.pratique
    &__location-container
        column-count: 3
    &__location-bloc
        display flex
        line-height: 2
    &__start
        font-family: 'firasans'
        font-size: s(20)
        color: $darkGrey
        text-align: center
        line-height: 1.5
        margin 0 auto
        background-color: $white
        padding s(30,20)
        font-weight 600
    &__number
        color: $darkYellow
        font-size: s(25)
        font-weight 600
        font-family: 'firasans'
        margin-right: s(10,25)
        text-align: right
        min-width 30px 
    &__location
        color: $white
        font-weight 300
        font-size s(20)
        &:hover
            text-decoration: underline
    &__location-title
        font-size: s(50)
        font-weight 600
        color $white
        text-align: center
        margin: s(50,50) 0
    &__background
        background-color: #6D183B
    &__background-bloc
        position relative
        top -100px
    &__bloc-intro
        padding-bottom: s(100)
    &__parking
        color: $darkGrey
        line-height: 1.5
        font-weight 400
        width: 75%
        & p
            margin-bottom: 20px
    &__parking-container
        padding-bottom: s(30)
    &__infos
        display: flex
        flex-direction: row
        align-items: center
    &__event
        text-align: center
        width: 50%
    &__event-title
        font-size: s(30)
        font-weight 600 
        color: $darkGrey
        margin-bottom: s(20,30) 
.pratique-page
    padding-top: s(50)

@media screen and (max-width 1300px)
    .pratique-page
        padding: 0 s(20)

@media screen and (max-width 1024px)
    .pratique
        &__location-container
            column-count: 2
        &__infos
            flex-direction: column
        &__event
            margin-bottom: s(50)
        &__parking
            width 100%

@media screen and (max-width 768px)
    .pratique
        &__location-container
            display flex
            flex-direction: column
            justify-content: center
            align-items: center
        &__number
            font-size s(20)
        &__location
            font-size: s(16)
        &__event
            width: 60%
        &__event-title
            font-size: s(25)
        &__location-title
            font-size: s(40)

@media screen and (max-width 450px)
    .pratique
        &__location-title
            font-size: s(30)
@media screen and (max-width 375px)
    .pratique
        &__event
            width: 75%
        &__start
            font-size: s(16)