.pratique
    &__location-container
        column-count: 3
    &__location-bloc
        display flex
        line-height: 2
    &__start
        font-family: 'firasans'
        font-size: s(20)
        color: $darkGrey
        text-align: center
        line-height: 1.5
        margin 0 auto
        background-color: $white
        padding s(30,20)
        font-weight 600
    &__number
        color: $darkYellow
        font-size: s(25)
        font-weight 600
        font-family: 'firasans'
        margin-right: s(10,25)
        text-align: right
        min-width 30px 
    &__location
        color: $white
        font-weight 300
        font-size s(20)
    &__location-title
        font-size: s(50)
        font-weight 600
        color $white
        text-align: center
        margin: s(50,50) 0
    &__background
        background-color: $mediumRed
    &__background-bloc
        position relative
        top -100px
    &__bloc-intro
        padding-bottom: s(100)